.Paint-card {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 15vmin;
    width: 50vmin;

    background-color: rgb(201, 72, 68);

    color: white;
    font-weight: bold;
    font-size: 3vmin;
    text-align: center;

    border: solid;
    border-color: black;
    border-width: .3vmin;
}

.Paint-card:hover {
    background-color: rgb(238,99,94);
    cursor: pointer;
}