.Paint-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    height: 15vmin;
    width: 30vmin;

    background-color: rgb(201, 201, 201);

    text-align: center;
    text-decoration: none;

    border: solid;
    border-color: black;
    border-width: .3vmin;
}

.Paint-card:hover {
    background-color: rgb(172, 172, 172);

    cursor: zoom-in;
}

img {
    height: 4vmin;
    width: 4vmin;
}

.Paint-card-drop-div {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;

    background-color: rgb(126, 126, 126);

    padding-top: .5vmin;
    padding-left: 4vmin;
}

.Paint-card-drop {
    background-color: rgb(201, 72, 68);
    width: 4vmin;
    height: 4vmin;
}

.Paint-card-title {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    background-color: rgb(126, 126, 126);

    color: white;
    font-weight: bold;
    font-size: 2.5vmin;
    line-height: 5vmin;
}

.Paint-card-type {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    color: black;
    font-style: italic;
    font-size: 2vmin;
    line-height: 5vmin;
}

.Paint-card-owned {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;

    justify-self: start;

    color: black;
    font-size: 1.75vmin;
    line-height: 5vmin;

    padding-left: 1.75vmin;
}

.Paint-card-btn {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;

    justify-self: end;
    
    padding-top: 1vmin;
    padding-right: 1vmin;
}

.btn {
    background-color: white;

    border-width: 0vmin;
    border-radius: 25%;

    font-weight: bold;
    color: rgb(201, 72, 68);

    height: 3vmin;
    width: 3vmin;
}

.btn:hover {
    background-color: rgb(201, 72, 68);

    font-weight: bold;
    color: white;

    cursor: pointer;
}
