.Paint-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    height: 15vmin;
    width: 30vmin;

    background-color: rgb(206, 206, 206);

    text-align: center;
    text-decoration: none;

    border: solid;
    border-color: rgb(38, 38, 38);
    border-width: .4vmin;

    box-shadow: 0vmin 0vmin 2vmin 0vmin rgb(55, 55, 55);
}

.Paint-card:hover {
    background-color: rgb(230, 230, 230);
    box-shadow: 0vmin 0vmin 2vmin 0vmin rgb(187, 187, 187);
}

img {
    height: 4vmin;
    width: 4vmin;
}

.Paint-card-drop-div {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;

    background-color: rgb(126, 126, 126);

    padding-top: .7vmin;
    padding-left: 4vmin;
}

.Paint-card-drop {
    width: 4vmin;
    height: 4vmin;
}

.Paint-card-drop:hover {
    background: rgb(254,5,1);
    background: -moz-linear-gradient(180deg, rgba(254,5,1,1) 0%, rgba(254,52,1,1) 0%, rgba(255,0,0,1) 10%, rgba(255,111,0,1) 20%, rgba(255,156,0,1) 30%, rgba(255,206,0,1) 40%, rgba(200,255,0,1) 50%, rgba(0,255,160,1) 60%, rgba(102,170,238,1) 70%, rgba(180,67,255,1) 80%, rgba(255,0,130,1) 90%, rgba(255,0,130,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(254,5,1,1) 0%, rgba(254,52,1,1) 0%, rgba(255,0,0,1) 10%, rgba(255,111,0,1) 20%, rgba(255,156,0,1) 30%, rgba(255,206,0,1) 40%, rgba(200,255,0,1) 50%, rgba(0,255,160,1) 60%, rgba(102,170,238,1) 70%, rgba(180,67,255,1) 80%, rgba(255,0,130,1) 90%, rgba(255,0,130,1) 100%);
    background: linear-gradient(180deg, rgba(254,5,1,1) 0%, rgba(254,52,1,1) 0%, rgba(255,0,0,1) 10%, rgba(255,111,0,1) 20%, rgba(255,156,0,1) 30%, rgba(255,206,0,1) 40%, rgba(200,255,0,1) 50%, rgba(0,255,160,1) 60%, rgba(102,170,238,1) 70%, rgba(180,67,255,1) 80%, rgba(255,0,130,1) 90%, rgba(255,0,130,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fe0501",endColorstr="#ff0082",GradientType=1);
    
    width: 4vmin;
    height: 4vmin;
}

.Paint-card-title {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    background-color: rgb(126, 126, 126);

    color: white;
    font-weight: bold;
    font-size: 2.2vmin;
    line-height: 5vmin;

    padding: .25vmin;
}

.Paint-card-type {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    color: rgb(38, 38, 38);
    font-style: italic;
    font-size: 1.8vmin;
    line-height: 5vmin;
}

.Paint-card-owned {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;

    color: rgb(38, 38, 38);
    font-size: 1.75vmin;
    line-height: 5vmin;
    text-align: left;

    padding-left: 1.75vmin;
}

.delete-btn {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;

    vertical-align: middle;

    font-size: 1.5vmin;
    line-height: 5vmin;
    font-weight: bold;
    color: rgb(38, 38, 38);
    text-decoration: none;
    text-align: center;
}

.delete-btn:hover {
    font-weight: bold;
    color: rgb(255, 78, 78);

    cursor: pointer;
}

.update-btn {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;

    font-size: 1.5vmin;
    line-height: 5vmin;
    font-weight: bold;
    color: rgb(38, 38, 38);
    text-decoration: none;
    text-align: center;
}

.update-btn:hover {
    font-weight: bold;
    color: rgb(43, 103, 255);

    cursor: pointer;
}

@media only screen and (max-width: 414px) {
    .Paint-card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    
        height: 40vmin;
        width: 80vmin;
    
        background-color: rgb(206, 206, 206);
    
        text-align: center;
        text-decoration: none;
    
        border: solid;
        border-color: rgb(38, 38, 38);
        border-width: .3vmin;
    
        box-shadow: 0vmin 0vmin 2vmin 0vmin rgb(55, 55, 55);
    }

    img {
        height: 10vmin;
        width: 10vmin;
    }

    .Paint-card-drop-div {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;

        background-color: rgb(126, 126, 126);

        padding-top: 1.8vmin;
        padding-left: 10vmin;
    }

    .Paint-card-drop {
        width: 10vmin;
        height: 10vmin;
    }

    .Paint-card-title {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;

        background-color: rgb(126, 126, 126);

        color: white;
        font-weight: bold;
        font-size: 5vmin;
        line-height: 13vmin;

        padding: .2vmin;
    }

    .Paint-card-type {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;

        color: rgb(38, 38, 38);
        font-style: italic;
        font-size: 4vmin;
        line-height: 13vmin;
    }

    .Paint-card-owned {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;

        color: rgb(38, 38, 38);
        font-size: 3.5vmin;
        line-height: 13vmin;
        text-align: left;

        padding-left: 7vmin;
    }

    .delete-btn {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;

        vertical-align: middle;

        font-size: 3.5vmin;
        line-height: 13vmin;
        font-weight: bold;
        color: rgb(38, 38, 38);
        text-decoration: none;
        text-align: center;
    }

    .update-btn {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;

        font-size: 3.5vmin;
        line-height: 13vmin;
        font-weight: bold;
        color: rgb(38, 38, 38);
        text-decoration: none;
        text-align: center;
    }
}
