.form {
    font-family: 'Baloo 2', cursive;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input {
    text-align: center;

    font-family: 'Baloo 2', cursive;
    font-size: 2vmin;

    padding: 1vmin;
    outline: none;

    height: 3vmin;
    width: 25vmin;

    border: none;

    border-radius: .5vmin;
    background: rgb(247, 247, 247);
    box-shadow:  8px 8px 22px #d5d5d5,
                -8px -8px 22px #ffffff;
}

.select {
    outline: none;

    font-family: 'Baloo 2', cursive;
    text-align: center;

    height: 5vmin;
    width: 15vmin;

    border: none;
    border-radius: .5vmin;
    background: rgb(247, 247, 247);
    box-shadow:  8px 8px 22px #d5d5d5,
                -8px -8px 22px #ffffff;
}

.check {
    border: none;
}

.title {
    font-family: 'Permanent Marker', cursive;
    color: rgb(62, 62, 62);
}

.btn {
    background-color:  rgb(234, 234, 234);
    border: none;
    border-radius: .5vmin;
    text-align: center;

    outline: none;

    font-family: 'Baloo 2', cursive;
    color: rgb(62, 62, 62);
    font-size: 2vmin;
    font-weight: bold;

    height: 4vmin;
    width: 10vmin;

    background: rgb(234, 234, 234);
    box-shadow:  8px 8px 22px #d5d5d5,
                -8px -8px 22px #ffffff;
}

.btn:hover {
    background: rgb(254,5,1);
    background: -moz-linear-gradient(180deg, rgba(254,5,1,1) 0%, rgba(254,52,1,1) 0%, rgba(255,0,0,1) 10%, rgba(255,111,0,1) 20%, rgba(255,156,0,1) 30%, rgba(255,206,0,1) 40%, rgba(200,255,0,1) 50%, rgba(0,255,160,1) 60%, rgba(102,170,238,1) 70%, rgba(180,67,255,1) 80%, rgba(255,0,130,1) 90%, rgba(255,0,130,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(254,5,1,1) 0%, rgba(254,52,1,1) 0%, rgba(255,0,0,1) 10%, rgba(255,111,0,1) 20%, rgba(255,156,0,1) 30%, rgba(255,206,0,1) 40%, rgba(200,255,0,1) 50%, rgba(0,255,160,1) 60%, rgba(102,170,238,1) 70%, rgba(180,67,255,1) 80%, rgba(255,0,130,1) 90%, rgba(255,0,130,1) 100%);
    background: linear-gradient(180deg, rgba(254,5,1,1) 0%, rgba(254,52,1,1) 0%, rgba(255,0,0,1) 10%, rgba(255,111,0,1) 20%, rgba(255,156,0,1) 30%, rgba(255,206,0,1) 40%, rgba(200,255,0,1) 50%, rgba(0,255,160,1) 60%, rgba(102,170,238,1) 70%, rgba(180,67,255,1) 80%, rgba(255,0,130,1) 90%, rgba(255,0,130,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fe0501",endColorstr="#ff0082",GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    outline: none;

    cursor: pointer;
}

.swatch {
    border: 'none';
    width: 9vmin;
    height: 4.5vmin;
    border-radius: .5vmin;

    background: rgb(234, 234, 234);
    box-shadow:  8px 8px 22px #d5d5d5,
                -8px -8px 22px #ffffff;
}

span {
    padding: 0 0 0.75vmin 0;
}