.form {
    text-align: center;
}

.input-field {
    border: solid;
    border-color: black;
    border-width: .25vmin;
    text-align: center;
}

.title {
    color: rgb(62, 62, 62);
}

.btn {
    
}