.NavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vmin;
  width: 100%;
  background-color:  rgb(255, 255, 255);
  margin: 0 0 1vmin 0;
  font-size: 2.5vmin;
  box-shadow: 0vmin 0.25vmin 3vmin 0.25vmin rgb(55, 55, 55);
}

.NavBar-link {
  text-decoration: none;
  color: rgb(255, 87, 88);
  font-weight: bold;
}

.NavBar-link:hover {
  color: rgb(188, 47, 47);
}

.NavBar-welcome {
  color: black;
}
