.NavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vmin;
  width: 200vmin;
  background-color: rgb(238,99,94);
  margin: 0 0 3vmin 0;
}

.NavBar-link {
  text-decoration: none;
  color: white;
}

.NavBar-link:hover {
  color: rgb(201, 72, 68);
}

.NavBar-welcome {
  color: black;
}
