.LoginPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.input {
  border: solid;
  border-color: black;
  border-width: .25vmin;

  padding: 1vmin;

  height: 3vmin;
  width: 25vmin;
}

.title {
  color: white;
}