.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  font-family: 'Baloo 2', cursive;
}

.logo {
  height: 50vmin;
  width: 50vmin;
}

.welcome {
  font-family: 'Permanent Marker', cursive;
  color: rgb(38, 38, 38);
}

.intro {
  width: 80vmin;
  color: rgb(38, 38, 38);
}
