.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 50vmin;
  width: 50vmin;
}

.welcome {
  color: rgb(38, 38, 38);
}

.intro {
  width: 80vmin;
  color: rgb(38, 38, 38);
}